<!DOCTYPE html>
<html>
<head>
	<title>Expired</title>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="../../logo.jpg">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> 
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style type="text/css">
    	div#main
    	{
    		position: fixed;
    		top: 45%;
    		left: 50%;
            text-align: center;
            transform: translate(-50%,-50%);
            font-size: 18px;
    	}
    	div#text
    	{
    		margin-top: 8px;
    		display:inline;
    		margin-left: -5px;
    	}

    	@media only screen and (max-width: 375px)
    	{
    		img#image
    		{
    			margin-left: -5px;
    		}
    	}
    	@media only screen and (max-width: 360px)
    	{
    		img#image
    		{
    			margin-left: -10px;
    		}
    	}

    	@media only screen and (max-width: 350px)
    	{
    		img#image
    		{
    			margin-left: -15px;
    		}
    	}
    	@media only screen and (max-width: 340px)
    	{
    		img#image
    		{
    			margin-left: -20px;
    		}
    	}
    	@media only screen and (max-width: 330px)
    	{
    		img#image
    		{
    			margin-left: -25px;
    		}
    	}
    	@media only screen and (max-width: 318px)
    	{
    		img#image
    		{
    			margin-left: -30px;
    		}
    	}
    </style>
</head>
<body>
  <div id="main">
   	<h1>
   	   <div>
   	        <img src="../../logo.jpg"  class="img-circle" style="display: inline" alt="H" id="image">
	        <div id="text">abula</div>
	    </div>
	</h1>
    <p>It seems like the link was already used or&nbsp;expired.<br>Please <a href="https://habula1.herokuapp.com/home"><mark style="background-color: #yellow">click</mark></a> here to go back to home page.</p>
    </div>
</body>
</html>