<!DOCTYPE html>
<html>
<head>
  <title>Change Password</title>
  <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="../../logo.jpg">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> 
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script>
      function save_changes()
      {
        var data={};
        data.new_password = document.getElementById('new_password').value;
        var a = document.getElementById('retype_new_password').value;
        if(data.new_password!=a)
        {
          document.getElementById('overlay_for_password').style.display="block";
        }
        else
        {
          document.getElementById('overlay_for_waiting').style.display="block";
          var xhttp;
          if(window.XMLHttpRequest)
          {
            xhttp = new XMLHttpRequest();
          }
          else
          {
            xhttp = new ActiveXObject('Microsoft.XMLHTTP');
          }
          xhttp.open('post','https://habula1.herokuapp.com/edit_password_after/'+'<%= id %>', true);
          xhttp.setRequestHeader('content-type','application/json');
          xhttp.send(JSON.stringify(data));
          console.log(JSON.stringify(data));
          xhttp.onreadystatechange = function()
          {
            if(this.readyState==4)
            {
              console.log(this.responseText);
              var x = JSON.parse(this.responseText);
              if(x.success==true)
              {
                $('#overlay_for_waiting').click();
                setTimeout(function(){document.getElementById('overlay_for_valid_response').style.display='block';},200);
                setTimeout(function(){document.location.href='https://habula1.herokuapp.com/'+x.branch;},1000);
              }
              else
              {
                $('#overlay_for_waiting').click();
                setTimeout(function(){document.getElementById('overlay_for_response').style.display='block';},200);
              }
            }
          }
        }
        return false;
      }
    </script>
    <style>
      #complete_logo
      {
        margin-top:80px;
        margin-left:30px;
      }
      .container
      {
        width: 28%;
      }
      body
      {
        margin: 0;
        overflow-x:hidden; 
      }
      .panel-group
      {
        margin-top:30px
      }
      #logo
      {
        margin-left: -45px;
      }
      #overlay_for_password, #overlay_for_response, #overlay_for_valid_response, #overlay_for_waiting
      {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        display: none;
        background-color: rgba(0,0,0,0.8);
        cursor: pointer;
        z-index: 40
      }
      #text_for_password, #text_for_response, #text_for_valid_response, #text_for_waiting
      {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        color: black;
        background-color: white;
        padding: 2% 4%;

        text-align: center;
        font-size: 15px
      }
      @media only screen and (max-width: 1300px)
      {
        #logo
        {
          margin-left: -40px;
        }
      }
            @media only screen and (max-width: 1230px)
      {
        #logo
        {
          margin-left: -38px;
        }
      }
   @media only screen and (max-width: 1200px)
  {
    #logo
    {
      margin-left: -30px;
    }
    .container
    {
      width: 31%;
    }
  }
  @media only screen and (max-width: 1100px)
  {
    .container
    {
      width: 34%;
    }
    #logo
    {
      margin-left: -25px;
    }
  }
  @media only screen and (max-width: 1050px)
  {
    #logo
    {
      margin-left: -22px;
    }
  }

  @media only screen and (max-width: 1050px)
  {
    #logo
    {
      margin-left: -20px;
    }
  }

  @media only screen and (max-width: 1000px)
  {
    .container
    {
      width: 36%;
    }
  }
    @media only screen and (max-width: 992px)
  {
    #logo
    {
      margin-left: -15px;
    }
  }
      @media only screen and (max-width: 930px)
  {
    #logo
    {
      margin-left: -12px;
    }
  }
      @media only screen and (max-width: 890px)
  {
    #logo
    {
      margin-left: -9px;
    }
  }
      @media only screen and (max-width: 850px)
  {
    #logo
    {
      margin-left: -5px;
    }
  }
  @media only screen and (max-width: 800px)
  {
    #logo
    {
      margin-left: 0px;
    }
  }
  @media only screen and (max-width: 960px)
  {
    .container
    {
      width: 36%;
    }
  }
  @media only screen and (max-width: 900px)
  {
    .container
    {
      width: 38%;
    }
  }
    @media only screen and (max-width: 850px)
  {
    .container
    {
      width: 42%;
    }
  }
    @media only screen and (max-width: 820px)
  {
    .container
    {
      width: 42%;
    }
  }
    @media only screen and (max-width: 790px)
  {
    .container
    {
      width: 46%;
    }
  }
    @media only screen and (max-width: 700px)
  {
    .container
    {
      width: 49%;
    }
  }
    @media only screen and (max-width: 650px)
  {
    .container
    {
      width: 52%;
    }
  }
    @media only screen and (max-width: 615px)
  {
    .container
    {
      width: 55%;
    }
  }
    @media only screen and (max-width: 580px)
  {
    .container
    {
      width: 58%;
    }
  }
    @media only screen and (max-width: 550px)
  {
    .container
    {
      width: 62%;
    }
  }
    @media only screen and (max-width: 520px)
  {
    .container
    {
      width: 65%;
    }
  }
    @media only screen and (max-width: 500px)
  {
    .container
    {
      width: 70%;
    }
  }
    @media only screen and (max-width: 475px)
  {
    .container
    {
      width: 75%;
    }
  }
    @media only screen and (max-width: 430px)
  {
    .container
    {
      width: 80%;
    }
  }
    @media only screen and (max-width: 400px)
  {
    .container
    {
      width: 85%;
    }
  }
    @media only screen and (max-width: 300px)
  {
    .container
    {
      width: 100%;
    }
  }
  @media only screen and (max-width: 992px)
  {
    #accordion
    {
      width: 91%;
    }
  }
  @media only screen and (max-width: 769px)
  {
  	#complete_logo
  	{
  		margin-left: 0px;
  	}
  }

  @media only screen and (max-width: 750px)
  {
    #logo
    {
      margin-left: 3px;
    }
  }
  @media only screen and (max-width: 740px)
  {
    #logo
    {
      margin-left: 5px;
    }
    #complete_logo
    {
      margin-left: 0px;
    }
  }
      @media only screen and (max-width: 700px)
  {
    #logo
    {
      margin-left: 8px;
    }
  }

  @media only screen and (max-width: 670px)
  {
    #logo
    {
      margin-left: 10px;
    }
  }

  @media only screen and (max-width: 620px)
  {
    #logo
    {
      margin-left: 10px;
    }
  }
    
    @media only screen and (max-width: 575px)
  {
    #logo
    {
      margin-left: 12px;
    }
  }

    @media only screen and (max-width: 550px)
  {
    #logo
    {
      margin-left: 15px;
    }
  }

  @media only screen and (max-width: 500px)
  {
    #logo
    {
      margin-left: 20px;
    }
    #complete_logo
    {
      margin-left: -80px;
    }
  }
  @media only screen and (max-width: 600px)
  {
    #complete_logo
    {
      margin-left: -60px;
    }
  }

  @media only screen and (max-width: 450px)
  {
    #logo
    {
      margin-left: 23px;
    }
     #complete_logo
    {
      margin-left: -58px;
    }
  }

  @media only screen and (max-width: 400px)
  {
    #logo
    {
      margin-left: 26px;
    }
    #complete_logo
    {
      margin-left: -56px;
    }
  }
  @media only screen and (max-width: 350px)
  {
    #logo
    {
      margin-left: 30px;
    }
  }
  @media only screen and (max-width: 330px)
  {
    #logo
    {
      margin-left: 32px;
    }
  }
      /* this is to remove the margin-left of habula word in the header (i.e. top of the web page) */
    @media only screen and (max-width: 767px)
    {
      #text_for_password, #text_for_response, #text_for_waiting, #text_for_valid_response,
      {
        width: 40%;
        padding: 4% 1%;
        margin: auto;

      }
    }

    @media only screen and (max-width: 600px)
    {
      #text_for_password, #text_for_response, #text_for_waiting, #text_for_valid_response
      {
        width: 45%;
        margin: auto;
        padding: 4% 3%;
        
      }
    }

    @media only screen and (max-width: 450px)
    {
      #text_for_password, #text_for_response, #text_for_waiting, #text_for_valid_response
      {
        width: 60%;
        margin: auto;
        padding: 5% 4%;
        
      }
    }

    @media only screen and (max-width: 400px)
    {
      #text_for_password, #text_for_response, #text_for_waiting, #text_for_valid_response
      {
        width: 68%;
        margin: auto;
        padding: 5% 4%;
        
      }
    }

    @media only screen and (max-width: 350px)
    {
      #text_for_password, #text_for_response,  #text_for_waiting, #text_for_valid_response
      {
        width: 75%;
        margin: auto;
        padding: 5% 4%;
        
      }
    }
    </style>
</head>
<body>

<div id="main_block">
    <div class="row" id="complete_logo">
      <div class="col-xs-5"></div>
        <div class="col-xs-1"><img src="../../logo.jpg"  class="img-circle" style="display: inline" width="60" height="60"></div>
      <div class="col-xs-4"  id="logo">
        <h3><div class="modal_brand_space">abula</div></h3>
      </div>
    </div>
    <p style="text-align:center;margin-top:10px">PLEASE COMPLETE THE FOLLOWING TO CHANGE PASSWORD</p>
    <div class="container">
    <form action="#" onsubmit="return save_changes()">
  <div class="panel-group">
      <div class="panel panel-default" style="border-radius:0">
          
          <div class="panel-body">           
            <div class="row">
              <div class="col-sm-1" col-xs-0></div>
              <div class="col-sm-10 col-xs-12">
              <div class="form-group has-feedback">
                <label for="new_password" class="control-label" style="color:#666666"> New Password :</label><br>
                <input type="password" id="new_password" name="new_password" class="form-control" style="border-radius: 0;background-color:rgba(248,248,248,0.6)" required="required" pattern="[a-zA-Z0-9!@#$%^&*]{7,15}$" title="Allowed characters are A-Z a-z 0-9 !@#$%^&* and Min-7, Max-15 characters.">
                <i class="fa fa-shield form-control-feedback" aria-hidden="true"></i>
              </div>
              </div>
              <div class="col-sm-1 col-xs-0"></div>
            </div>

            <div class="row">
              <div class="col-sm-1" col-xs-0></div>
              <div class="col-sm-10 col-xs-12">
              <div class="form-group has-feedback">
                <label for="retype_new_password" class="control-label" style="color:#666666"> Retype New Password :</label><br>
                <input type="password" id="retype_new_password" name="retype_new_password" class="form-control" style="border-radius: 0;background-color:rgba(248,248,248,0.6)" title="Retype the new password" required="required">
                <i class="fa fa-bell form-control-feedback" aria-hidden="true"></i>
              </div>
              </div>
              <div class="col-sm-1 col-xs-0"></div>
            </div><br>
            <button type="submit" class="btn btn-primary" style="float:right;border-radius:0;">Save Changes</button>            
            </div>
        </div>
    </div><br><br>
</form>
</div>
</div>
<div id="overlay_for_password" onclick="off_for_password()">
  <div id="text_for_password" style="text-align:center">New Password and Retype New password<br> fields are not same !
  </div>
</div>

<div id="overlay_for_response" onclick="off_for_response()">
  <div id="text_for_response" style="text-align:center">It seems like some error occurred<br>Please try again later.
  </div>
</div>

<div id="overlay_for_valid_response" onclick="off_for_valid_response()">
  <div id="text_for_valid_response" style="text-align:center">Saved changes successfully !<br>Redirecting ...
  </div>
</div>

<div id="overlay_for_waiting" onclick="off_for_waiting()">
  <div id="text_for_waiting"><i class='fa fa-spinner fa-pulse fa-2x fa-fw'></i>&nbsp;&nbsp;&nbsp;<h3 style="display:inline;">Processing</h3>
  </div>
</div>

<script>
  function off_for_waiting()
  {
    document.getElementById("overlay_for_waiting").style.display = "none"; 
  }

  function off_for_password()
  {
    document.getElementById("overlay_for_password").style.display = "none"; 
  }

  function off_for_response()
  {
    document.getElementById("overlay_for_response").style.display = "none"; 
  }

  function off_for_valid_response()
  {
    document.getElementById("overlay_for_valid_response").style.display = "none"; 
  }
</script>
</body>
</html>